@*
<!--@(user : SignUpData)(message:String)-->
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <script type='text/javascript' src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/jQuery-3.1.1.min.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
    <script type="text/javascript" src="@routes.JavascriptRoute.javascriptRoutes"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/signIn.js")'></script>


</head>
<body>

<div>
    <form>
        <input type="button" name="home" id="home" value="Home" class="btn btn-info">
    </form>
</div>

<h4>message</h4>
<table>
    <form class="form form-inline">
        <tr>
            <td><label name="username">Username</label></td>
            <td><input class="form-control" type="text" name="username" placeholder="Username" required></td>
        </tr>
        <tr>
            <td><label value="password">Password</label></td>
            <td><input class="form-control" type="password" name="password" placeholder="Password" required></td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="button" value="Submit" class="btn-success" id="signInSubmit"></td>
            </td>
        </tr>
    </form>
</table>

</body>
</html>