<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our Website</title>
    <script type='text/javascript'
            src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.js")'></script>
    <link rel="stylesheet"
          href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/welcome.css")'>

</head>
<body>
<div><h1>Welcome to our Website</h1>
</div>

<table>
    <tr>
        <td>
            <form action="/signIn" class="form">
                <button type="submit" name="action" value="signIn" class="btn btn-success">Sign In</button>
            </form>
        </td>
        <td>
            <form action="/signUp" class="form">
                <button type="submit" name="action" value="signUp" class="btn btn-success">Sign Up</button>
            </form>
        </td>
    </tr>


</table>
</body>
</html>

