<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our Website</title>

    <script type='text/javascript' src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
    <script type="text/javascript" src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/jQuery-3.1.1.min.js")'></script>
    <script type="text/javascript" src="@routes.JavascriptRoute.javascriptRoutes"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/welcome.js")'></script>

</head>
<body>
<div><h1>Welcome to our Website</h1>
</div>


<div id="body">
<table>
    <tr>
        <td>
            <input type="button" name="action" value="signIn" class="btn btn-success" id="signIn">
        </td>
        <td>
            <input type="button" name="action" value="signUp" class="btn btn-success" id="signUp">
        </td>
    </tr>

</table>
</div>

</body>
</html>

